<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="style-0.css"/>
    <script src="jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
</head>
<body data-ng-app="ChannelSearcher">
    <article class="twitchThing" data-ng-controller="MainCtrl as searcher">
      <div class="menu-container">
          <div class="menu">
            <li>All</li><li>Online</li><li>Offline</li>
          </div>
      </div>
      <div class="whitespace">
          <div class="search-area">
                  <span><i class="search-icon fa fa-search"></i></span><input class="search-bar" type="text" name="" value="" data-ng-model="sera"/>
          </div>
          <div class="channellist">
            <a data-ng-click="print()" data-ng-repeat="user in storage.combinedUsers"><li><img class="avatar" data-ng-src="{{user.logo}}"/><span class="username">{{user.display_name}}</span><span class="onOff">&nbsp;<i data-ng-if="user.stream != null" class="fa fa-video-camera"></i><i data-ng-if="user.stream == null" class="fa fa-times-circle"></i></span></li></a>
          </div>
      </div>
    </article>
</body>
