body {
  font-family: "Open Sans";
  margin-top: 40px;
  text-align:center;
  background:#F79F94;
}
.twitchThing /* the whole thing*/ {
  position:relative;
  border:1px solid #F47564;
  width: 300px;
  margin:auto;
}
.menu-container{
  position:relative;
  height:57px;
  background-color:#F47564;
}
.menu{
  position:absolute;
  top:0;
  right:0;
  left:0;
  overflow:hidden;
}

.menu li{
  font-size:1.1em;
  color:white;
  display:inline-block;
  padding: 15px 0px 16px 0px;
  width:33%;
  cursor:pointer;
}


.menu li:nth-child(n+2){
  border-left:1px solid #FABCB3;
}
.whitespace{
  background-color:#FFF;
    min-height: 100px;
}
.search-area{
    position:relative;
    width:auto;
    height: 67px;
    border-bottom: 1px solid #FABCB3;
}

.search-bar{
    width:87%;
    margin:6%;
    border-radius:15px;
    border:1px solid #FFCCCC;
    padding:4px;
}
.channellist{
    padding:10px;   
}

.channellist li{
    text-align: left;  
    display:block;
    color: #F47564;
    padding:10px;
}
.avatar{
    width:50px;
    height:50px;
    border-radius: 50%;
}
.username {
    position: absolute;
    line-height: 50px;
    padding-left: 10px;
}
.onOff {
    position: absolute;
    right:20;
    line-height: 50px;
    display: inline-block;
}